* {
    margin: 0;
    padding: 0;
    font-family: inherit; 
}

header{
    /*these are specs for the background image)*/
    background-image:linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63)), url(../1.jpg);
    height: 130vh;
    background-size: cover;
    background-position: center;
}

nav{
    /* this is the coloured section on top*/
    width: 100%;
    height: 80px;
    background-color:rgb(211, 175, 175);
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
    font-size: 19px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: azure;
    padding: 5px 20px;
    border: 1px solid transparent azure;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: azure;
    color: rgb(71, 38, 38);
}

ul li.active a{
    background-color: azure;
    color: rgb(71, 38, 38);
}
.logo img{
    float: left;
    width: 150px;
    height: 50px;
    padding-left: 20px;
    padding-top: 20px;
}

.title h1{
    margin-top: 120px;
    font-size: 25px;
    line-height: 1.6;
    text-transform: capitalize;
    display: block;
    float: center;
    color: rgb(233, 205, 167);
    font-style: oblique;
    text-align: center;
    letter-spacing: 4px;
}

.title h2{
    margin-top: 39px;
    font-size: 20px;
    line-height: 1.6;
    text-transform: capitalize;
    display: block;
    float: center;
    color: rgb(229, 211, 186);
    font-style: oblique;
    text-align: center;
    letter-spacing: 4px;
}

.title h3{
    margin-top: 192px;
    font-size: 19px;
    line-height: 1.6;
    text-transform: capitalize;
    display: block;
    float: center;
    color: rgb(229, 211, 186);
    text-align: center;
    letter-spacing: 4px;
}

.button{
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    border: 1px solid rgb(224, 191, 145);
    padding: 10px 30px;
    color: rgb(233, 205, 167);
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover{
    background-color: azure;
    color: rgb(71, 38, 38);
}

.footer{ 
    left: 0; 
    bottom: 0;
    padding-left: 20px;
    padding-bottom: 7px;
    padding-top: 20px;
    width: 1248px; 
    height: 150px;
    text-align: left; 
    background-color:rgb(211, 175, 175);
    font-weight: 500;
}

.footerlogo{
   
    width: 30px;
    height: 50px;
    bottom: 30px;
    align-content: center;
    display: inline-block;
   
}